/* Small screens: Define mobile styles */
@media only screen {
    #container {
        height: 100%;
        width: 100%;
        background: #777;
        color: white;
    }

    .reveal-modal {
        background: #777;
    }

    h2 {
        color: white;
        text-align: center;
    }

    h1#title {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 3rem;
    }

    h1.title {
        margin: 0;
        font-size: 2rem;
    }

    #title-text {
        display: none;
    }

    #main-container {
        top: 3rem;
        bottom: 0;
        left: 0;
        right: 0;
        position: absolute;
    }

    nav#main-menu {
        display: none;
        position: absolute;
        width: 90%;
        z-index: 10;
        /*height: 100%;*/
        background: #AAA;
        -webkit-box-shadow: 0px 0px 6px 0px rgba(50, 50, 50, 0.68);
        -moz-box-shadow: 0px 0px 6px 0px rgba(50, 50, 50, 0.68);
        box-shadow: 0px 0px 6px 0px rgba(50, 50, 50, 0.68);
        overflow-y: auto;
        height: 100%;
        /*border: 1px solid black;*/
    }

    nav#main-menu h1 {
        font-size: 1.7rem;
        padding: 0 5px;
        margin: 0;
        font-weight: bold;
    }

    #main {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 3rem;
        overflow-y: auto;
    }       
    
    label {        
        color: white;
        font-size: inherit;
    }    

    span#menu-toggle {
        cursor: pointer;
        margin-left: 0.3rem;
        padding-right: 0.5rem;
        padding-left: 0.5rem;
    }

    span#menu-toggle.pressed {
        /*background: #AAA;
        -webkit-box-shadow: inset 0px 0px 18px 3px rgba(0,0,0,0.75);
        -moz-box-shadow: inset 0px 0px 18px 3px rgba(0,0,0,0.75);
        box-shadow: inset 0px 0px 18px 3px rgba(0,0,0,0.75);*/
        color: #ffffff;
    }

    div#login-form {
        margin-top: 2rem;
    }

    div#main-searcher {
        display: none;
        position: absolute;
        top: 0;
        width: 90%;
        right: 0;
        background: #AAA;
        -webkit-box-shadow: 0px 0px 6px 0px rgba(50, 50, 50, 0.68);
        -moz-box-shadow: 0px 0px 6px 0px rgba(50, 50, 50, 0.68);
        box-shadow: 0px 0px 6px 0px rgba(50, 50, 50, 0.68);
        overflow-y: auto;
        bottom: 0;
        z-index: 2;
    }

    .remove-margin-bottom {
        margin-bottom: 0 !important;
    }

    .title-main {
        float: left;
        display: inline-block;
        width: 2px;
        white-space: nowrap;
    }

    .toolbar {
        float: right;
        display: inline-block;
        right: 0;
        text-align: right;
    }

    .toolbar > .toolbar-button {
        padding: 0 0.5em;
        display: inline-block;
        font-size: 1.7rem;
        margin-right: 0.5rem;
        color: #000;
        /*background: #AAA;
        -webkit-border-top-left-radius: 5px;
        -webkit-border-top-right-radius: 5px;
        -webkit-border-bottom-right-radius: 5px;
        -webkit-border-bottom-left-radius: 5px;
        -moz-border-radius-topleft: 5px;
        -moz-border-radius-topright: 5px;
        -moz-border-radius-bottomright: 5px;
        -moz-border-radius-bottomleft: 5px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        /*background: #3498db;
        background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
        background-image: -moz-linear-gradient(top, #3498db, #2980b9);
        background-image: -ms-linear-gradient(top, #3498db, #2980b9);
        background-image: -o-linear-gradient(top, #3498db, #2980b9);
        background-image: linear-gradient(to bottom, #3498db, #2980b9);*/
    }


    .toolbar > .toolbar-button:active {
        color: #FFF;
    }

    .toolbar > .toolbar-button.pressed {
        color: #FFF;
        /*background: #0980ca;
        background-image: none;
        -webkit-box-shadow: inset 0px 0px 23px 4px rgba(0,0,0,0.75);
        -moz-box-shadow: inset 0px 0px 23px 4px rgba(0,0,0,0.75);
        box-shadow: inset 0px 0px 23px 4px rgba(0,0,0,0.75);*/
    }

    .without-margin-right {
        margin-right: 0 !important;
    }

    select {
        color: #333;
    }
}

@media only screen and (max-width: 40em) {

} /* max-width 640px, mobile-only styles, use when QAing mobile issues */

/* Medium screens:; min-width 641px, medium screens */
@media only screen and (min-width: 40.063em) {
    #container {
        /*max-width: 1024px;*/
        margin: 0 auto;
        position: relative;
    }

    h1.title {
        margin: 0;
        font-size: 2.70rem;
    }

    h1#title {
        height: 3.65rem;
    }

    #title-text {
        display: inline;
    }

    #main-container {
        top: 3.65rem;
    }

    nav#main-menu {
        display: block !important;
        width: 30%;
        z-index: 2;
        left: 0 !important;
    }

    #main {
        position: absolute;
        left: 30%;
        top: 0;
        bottom: 3.65rem;
        width: 70%;
    }

    span#menu-toggle {
        display: none;
    }

    div#main-searcher {
        width: 35rem;
        z-index: 2;
    }

    .toolbar {
        margin-top: -0.26rem;
    }

    .toolbar > .toolbar-button {
        font-size: 2rem;
    }
}

/* min-width 641px and max-width 1024px, use when QAing tablet-only issues */
@media only screen and (min-width: 40.063em) and (max-width: 64em) { }

/* Large screens: min-width 1025px, large screens */
@media only screen and (min-width: 64.063em) { }

/* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */
@media only screen and (min-width: 64.063em) and (max-width: 90em) { }

/* XLarge screens: min-width 1441px, xlarge screens */
@media only screen and (min-width: 90.063em) { }

/* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */
@media only screen and (min-width: 90.063em) and (max-width: 120em) { }

/* XXLarge screens: min-width 1921px, xlarge screens */
@media only screen and (min-width: 120.063em) { }

