#title-band {
    background-color: green;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: gray;
    color: white;
}

.select2-container-multi .select2-choices .select2-search-field input {
    margin-bottom: -3px;
}