ul.list {
    list-style-type: none;
    list-style-position: inside;
    background: #AAA;
    color: #000;
    margin: 0;
    padding: 5px;
    font-size: 1.3rem;
    /*height: 100%;*/
    overflow-y: auto;
    overflow-x: hidden;
    /*-webkit-overflow-scrolling: touch;*/
}

ul.list li {
    margin-bottom: 2px;
    background: #777;
    padding: 5px 7px 5px 7px;
    -webkit-box-shadow: 0px 0px 6px 0px rgba(50, 50, 50, 0.68);
    -moz-box-shadow: 0px 0px 6px 0px rgba(50, 50, 50, 0.68);
    box-shadow: 0px 0px 6px 0px rgba(50, 50, 50, 0.68);
    /*overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;*/
}

ul.list.list-hover li:hover {
    background: #888;
}

ul.list.list-hover li:hover a {
    color: #C3DFE9;
}

ul.list li.first {
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

ul.list li.last {
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

ul.list li.title {
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: bold;
    color: #000;
    background: #AAA;
    -webkit-box-shadow: none;
    -moz-box-shadow:    none;
    box-shadow:         none;
}

ul.list li.title:hover {
    background: #AAA;
}

ul.list li a {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.size1_5x {
    font-size: 1.5em;
}

.size2x {
    font-size: 2em;
}

.ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

ul.list input {
    margin: 0
}

ul.list.search-list li .item-checkbox {
    float: left;
}

ul.list.search-list li .item-info {
    display: block;
    margin-left: 1.5rem;
}

ul.list.search-list li .item-info .other-info {
    font-size: 0.9rem;
    text-transform: uppercase;
}

ul.play-list li .item-img {
    float: left;
}

ul.play-list li.selected {
    background: #0066CC !important;
    color: white;
}

ul.play-list li.playing {
    background: #AAEEFF;
}

ul.play-list li.selected.playing {
    border: 0.5rem solid #AAEEFF;
}

ul.play-list li .item-info {
    display: block;
    margin-left: 2.5rem;
}

ul.list.play-list li .item-info .other-info {
    font-size: 0.9rem;
    text-transform: uppercase;
}

ul.list.play-list li .item-info .main-info {
    font-weight: bold;
}

.jq-vinilo-search {
    height: 100%;
    position: relative;
}

.jq-vinilo-search .jq-vinilo-search-form {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    -webkit-box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.3);
    z-index: 1;
}

.jq-vinilo-search .jq-vinilo-search-list-container {
    position: absolute;
    top: 2.315rem;
    left: 0;
    right: 0;
    bottom: 3rem;
    overflow-y: scroll;
}

.jq-vinilo-search .jq-vinilo-search-list {
    min-height: 101%;
}

.jq-vinilo-search .jq-vinilo-search-actions {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3rem;
    background: #777;
    text-align: center;
    -webkit-box-shadow: 0px -3px 7px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px -3px 7px 0px rgba(0,0,0,0.3);
    box-shadow: 0px -3px 7px 0px rgba(0,0,0,0.3);
}

.jq-vinilo-search .jq-vinilo-search-actions ul.button-group {
    margin-top: 0.35rem;
    margin-bottom: 0;
    display: inline-block;
}

.jq-vinilo-search .jq-vinilo-search-actions ul.button-group a.button {
    margin-bottom: 0;
    padding: 0.5rem;
}

.jq-vinilo-playlist {
    position: relative;
    height: 100%;
}

.jq-vinilo-playlist .jq-vinilo-playlist-list-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.jq-vinilo-playlist .jq-vinilo-playlist-list {

}

.jq-vinilo-playlist .jq-vinilo-playlist-controls  {
    position: absolute;
    height: 3.5rem;
    left: 0.5rem;
    right: 0.5rem;
    bottom: 0;
    background: white;
    text-align: center;
}

.jq-vinilo-playlist .jq-vinilo-playlist-controls ul.button-group {
    margin-top: 0.3rem;
    margin-bottom: 0;
    display: inline-block;
}

.jq-vinilo-playlist .jq-vinilo-playlist-controls ul.button-group a.button {
    margin-bottom: 0;
    padding: 0.5rem 1em;
}
